@font-face {
    font-family: "open sans";
    src: url("./OpenSans-Regular.ttf") format("tff");
    font-style: normal;
    font-weight: 500;
    font-display: swap; 
}

@font-face {
    font-family: "open sans";
    src: url("./OpenSans-SemiBold.ttf") format("tff");
    font-style: normal;
    font-weight: 600;
    font-display: swap; 
}

@font-face {
    font-family: "open sans";
    src: url("./OpenSans_SemiCondensed-Regular.ttf") format("tff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: "ubuntu mono";
    src: url("./UbuntuMono-Bold.ttf") format("tff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}