.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
    overflow: hidden;
    outline: none;
    opacity: 25%;
    filter: blur(2px);
    transition: filter 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.content:focus {
    opacity: 100%;
    filter: none;
}
