.title {
    margin: 0px;
}

.subtitle {
    opacity: 780%;
}

.button {
    font-size: 12px;
    text-align: start;
    display: inline-block;
    padding: 2px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    margin: auto 0px 0px 0px;
    opacity: 40%;
    cursor: pointer;
}

.button:hover {
    opacity: 80%;
}