.clock {
    margin: 0px 0px 0px 0px;
    font-size: 40px;
    font-family: monospace, monospace;
    font-weight: 700;
    color: #272727;
    text-align: end;
}

.clock__time {
    margin: 0px;
}

.clock__ms {
    
    font-size: 20px;
}