@keyframes caret {
    0% {box-shadow: 0px 2px rgba(0, 0, 0, 1);}
    60% {box-shadow: 0px 2px rgba(0, 0, 0, 1);}
    100% {box-shadow: 0px 2px rgba(0, 0, 0, 0.2);}
}

.card {
    box-sizing: content-box;
    margin: 0px 0px 20px 0px;
    padding: 0px 10px;
}

.card__jpn {
    font-size: 48px;
    margin: 0px;
}

.card__en {
    text-align: center;
    margin: 0px;
}

.card__en__state_hidden {
    color: rgba(0, 0, 0, 0.0);
}

.card__en__state_active {
    color: rgba(0, 0, 0, 1);
}

.card__state_inactive {
    color: rgba(0, 0, 0, 0.4);
}

.card__state_active {
    color: rgba(0, 0, 0, 0.4);
    animation: caret 1s ease-in-out infinite alternate;
}

.card__state_correct {
    color: rgba(0, 0, 0, 1);
}

.card__state_incorrect {
    color: rgba(135, 16, 16, 1);
}