.page {
    max-width: 1000px;
    padding: 0px 200px;
    background-color: whitesmoke;
    margin: 200px auto;
}

.header {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
}

.header_hidden {
    opacity: 0%;
}

.header__topBar {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    transition: opacity 0.3s ease-in;
}

.header__quickSettings {
    display: flex;
    gap: 8px;
    padding: 8px 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 0px auto;
    transition: opacity 0.3s ease-in-out;
}

.footer__stats {
    display: flex;
}

.progressBar {
    margin-left: 0px;
    transition: margin-left 0.3s ease-in-out;
}

.practice-progress__state_hidden {
    margin-left: auto;
    width: 10px;
}

.footer__buttonBar{
    display: flex;
    justify-content: center;
    
}

.footer__buttonBar_hidden {
    opacity: 0%;
}
