.jpType__button {
    background-color: #272727;
    color: whitesmoke;
    padding: 7px 20px;
    font-family: 'open sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    transition: color 0.2s ease-in-out;
}

.jpType__button:hover {
    color: #74a12e;
}

.jpType__button:active {
    color: #272727;
    background-color: #74a12e;
}