.practice {
    margin-top: 50px;
    padding: 30px;
}

.practice__type-practice {
    padding: 15px;
    margin: 30px 0px 0px 0px;
}

.practice__footer {
    display: flex;
    justify-content: end;
    width: 915px;
    padding: 15px;
    margin: 0px auto;
}

.practice-progress {
    margin-left: 0px;
    transition: margin-left 0.3s ease-in-out;
}

.practice-progress__state_hidden {
    margin-left: auto;
    width: 10px;
}