.stats {
    margin: 10px 40px 10px 0px;
    color: whitesmoke;
}

.stats__name {
    margin: 0px;
    font-size: 20px;
    color: #74a12e;
    font-weight: 700;
}

.stats__value {
    margin: 0px;
    font-size: 50px;
    font-weight: 700;
}