.progress-bar {
    flex-grow: 2;
    background-color: #272727;
    outline: 1px solid black;
    height: 10px;
    border-radius: 5px;
    align-self: center;
    margin-right: 15px;
}

.progress-bar__meter {
    min-width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #74a12e;
    transition: width 0.15s ease-in;
}